/* ================================================================================================================== */
/* ================================================================================================================== */
/* GENERAL */
/* ================================================================================================================== */
/* ================================================================================================================== */

* {
    font-family : 'Raleway', sans-serif;
}

:root {
    --main-color          : #0065FC;
    --main-bg-color       : #F2F2F2;
    --filter-bg-color     : #DEEBFF;
    --filter-border-color : #D9D9D9;
}

.fa-solid {
    color : var(--main-color);
}

body {
    display         : flex;
    justify-content : center;
    padding-left    : 50px;
    padding-right   : 50px;

    /* Some browsers seems to enforce a fixed margin on the <body> tag, this will ensure that it is removed */
    margin          : 0;
}

/* ================================================================================================================== */
/* ================================================================================================================== */
/* HEADER */
/* ================================================================================================================== */
/* ================================================================================================================== */

.header {
    margin-bottom   : 35px;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    flex-wrap       : wrap;
}

.logo {
    height        : 19px;
    margin-top    : 30px;
    margin-bottom : 30px;
}

.main-nav {
    display         : flex;
    flex-direction  : row;
    justify-content : end;
    gap             : 68px;
}

.nav-link {
    padding-top : 14px;
    border      : 2px solid transparent;
}

.nav-link:hover {
    color            : var(--main-color);
    border-top-color : var(--main-color);
}

.page-title, .page-subtitle {
    width  : 100%;
    margin : 0;
}

.page-title {
    font-size     : 22px;
    margin-bottom : 8px;
    margin-top    : 30px;
}

.page-subtitle {
    font-size   : 16px;
    font-weight : normal;
}

/* ================================================================================================================== */
/* ================================================================================================================== */
/* MAIN */
/* ================================================================================================================== */
/* ================================================================================================================== */

.main-container {
    width      : 100%;
    max-width  : 1440px;
    padding    : 0 50px;
    box-sizing : border-box;
}

a {
    color           : inherit;
    text-decoration : none;
}

.section-title {
    margin    : 0;
    font-size : 22px;
}

.card {
    background-color : white;
    border-radius    : 20px;
    padding          : 5px;
    filter           : drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-img {
    object-fit : cover;
}

.card-title {
    font-size : 16px;
}

.euro {
    font-weight : 700;
}

.neutral-star {
    color : var(--main-bg-color)
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Search */
/* ------------------------------------------------------------------------------------------------------------------ */

.search-field {
    border-radius : 15px;
    display       : flex;
    align-items   : center;
    overflow-x    : visible;
    overflow-y    : visible;
    border        : 1px solid var(--main-bg-color);
    width         : fit-content;
    margin-bottom : 35px;
    z-index       : 1;
}

.search-field-prepend {
    background-color : var(--main-bg-color);
    height           : 50px;
    width            : 50px;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    border-radius    : 15px 0 0 15px;
}

.search-prepend-icon {
    color : black;
}

.search-field-input {
    border      : none;
    outline     : none;
    padding     : 0 24px;
    font-weight : bold;
    font-size   : 18px;
}

.search-submit-icon, .search-submit-text {
    background-color : var(--main-color);
    border           : none;
    outline          : none;
    padding          : 0 16px;
    cursor           : pointer;
    height           : 50px;
}

.search-submit-icon {
    width           : 50px;
    display         : none;
    align-items     : center;
    justify-content : center;
    border-radius   : 15px;
    box-shadow      : 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    z-index         : 2;
}

.search-submit-icon-glyph {
    color : white;
}

.search-submit-text {
    color         : white;
    font-weight   : bold;
    border-radius : 0 15px 15px 0;
    font-size     : 18px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Filters */
/* ------------------------------------------------------------------------------------------------------------------ */

.filters {
    display         : flex;
    flex-direction  : row;
    justify-content : start;
    align-items     : center;
    flex-wrap       : wrap;
    gap             : 15px;
    margin-bottom   : 35px;
}

.filters-label {
    font-weight : bold;
    font-size   : 18px;
}

.filter {
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    align-items     : center;
    gap             : 10px;
    padding         : 14px 19px;
    border-radius   : 25px;
    cursor          : pointer;
    border          : 2px solid var(--filter-border-color);
}

.filter:hover {
    background-color : var(--filter-bg-color);
}

.filter-icon {
    color     : var(--main-color);
    font-size : 22px;
}

.filter-text {
    font-weight : bold;
    font-size   : 17px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Results info */
/* ------------------------------------------------------------------------------------------------------------------ */

.results-info {
    display         : flex;
    flex-direction  : row;
    justify-content : start;
    align-items     : center;
    margin-bottom   : 35px;
    gap             : 10px;
}

.results-info-icon-container {
    border-radius   : 100%;
    border          : 1px solid var(--filter-border-color);
    height          : 24px;
    width           : 24px;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.results-info-icon {
    font-size : 10px;
    color     : var(--main-color);
}

.results-info-text {
    font-size : 16px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Hebergements And Populaires */
/* ------------------------------------------------------------------------------------------------------------------ */

.hebergements-and-populaires {
    display         : flex;
    justify-content : space-between;
    margin-bottom   : 35px;
}

.info-panel {
    background-color : var(--main-bg-color);
    border-radius    : 20px;
    padding          : 30px;
    box-sizing       : border-box;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Hebergements */
/* ------------------------------------------------------------------------------------------------------------------ */

.hebergements {
    width : 65%;
}

.hebergements-title {
    margin-bottom : 30px;
}

.hebergements-cards {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    flex-wrap       : wrap;
    gap             : 30px;
    margin-bottom   : 30px;
}

.hebergements-card-link {
    flex-grow  : 0.3;
    flex-basis : 30%;
}

.hebergements-card-img {
    height                  : 124px;
    width                   : 100%;
    object-fit              : cover;
    border-top-left-radius  : 20px;
    border-top-right-radius : 20px;
    border-bottom           : 5px solid white;
    box-sizing              : border-box;
}

.hebergements-card-content {
    padding        : 4px 10px 7px 10px;
    display        : flex;
    flex-direction : column;
    gap            : 8px;
}

.hebergements-card-txt {
    display        : flex;
    flex-direction : column;
    gap            : 8px;
}

.hebergements-card-title, .hebergements-card-subtitle {
    margin : 0;
}

.show-more {
    font-weight : bold;
    font-size   : 18px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Populaires */
/* ------------------------------------------------------------------------------------------------------------------ */

.populaires {
    width : 32%;
}

.populaires-title {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
}

.populaires-cards .card {
    display    : flex;
    margin-top : 33px;
}

.populaires-card-img {
    width                     : 33%;
    height                    : 136px;
    border-top-left-radius    : 20px;
    border-bottom-left-radius : 20px;
}

.populaires-cards .card-content {
    width           : 67%;
    padding-left    : 15px;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    box-sizing      : border-box;
}

.populaires-cards .card-title {
    margin-top    : 10px;
    margin-bottom : 4px;
}

.populaires-cards .card-subtitle {
    margin : 0;
}

.populaires-cards .card-rating {
    margin-bottom : 5px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Activites */
/* ------------------------------------------------------------------------------------------------------------------ */

.activites {
    display         : flex;
    flex-direction  : column;
    justify-content : start;
    gap             : 30px;
    padding         : 30px;
    margin-bottom   : 35px;
}

.activites-cards {
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    flex-wrap       : wrap;
    gap             : 30px;
    width           : 100%;
}

.activites-card-link,
.activites-card {
    border  : none;
    padding : 0;
}

.activites-card-link {
    flex-grow  : 0.20;
    flex-basis : 20%;
}

.activites-card-img {
    height                  : 380px;
    width                   : 100%;
    object-fit              : cover;
    border-top-left-radius  : 20px;
    border-top-right-radius : 20px;
}

.activites-card-content {
    padding        : 25.5px 19px;
    display        : flex;
    flex-direction : column;
}

/* ================================================================================================================== */
/* ================================================================================================================== */
/* RESPONSIVE */
/* Le code ci-dessous correspond à la version responsive uniquement */
/* ================================================================================================================== */
/* ================================================================================================================== */

/* ------------------------------------------------------------------------------------------------------------------ */
/* Medium devices (tablets, less/equal than 1024px) */
/* ------------------------------------------------------------------------------------------------------------------ */

@media (max-width : 1024px) {
    .hebergements-and-populaires {
        flex-direction : column;
    }

    .hebergements {
        width : 100%;
    }

    .populaires {
        width      : 100%;
        margin-top : 50px;
    }

    .populaires-cards {
        display         : flex;
        flex-direction  : row;
        justify-content : space-between;
    }

    .populaires-card-link {
        width : 30%;
    }

    .populaires-cards .card-title {
        font-size : 14px;
    }

    .populaires-cards .card-subtitle {
        font-size : 13px;
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Small devices (phones, less than 768px) */
/* ------------------------------------------------------------------------------------------------------------------ */

@media (max-width : 767.98px) {
    /* ... */
}
